@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --card: 240 13% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 199 85% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 25%;
    --muted-foreground: 240 5% 65%;

    --accent: 199 85% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 199 85% 48%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-width) / 2));
  }
}
